In [1]:
import pandas as pd
import numpy as np
import itertools
from itertools import combinations

In [1632]:
df_loaded = pd.read_pickle(r"C:\Users\xhmiaud03\Desktop\Freight\All_in_one_Freight.pkl")

In [1050]:
Freight = df_loaded.copy()

In [1051]:
# Freight = Freight.groupby('Shipment n').filter(lambda grp: grp['City Code'].nunique() > 1)
Freight = Freight.groupby('Shipment n').filter(lambda grp: grp['City Code'].nunique() <= 1)

In [1052]:
Freight['Gate Out D'] = (pd.to_datetime
                                 (Freight['Gate Out D'], errors='coerce'))
Freight['Gate Out D'] = Freight['Gate Out D'].dt.date

In [1053]:
len(Freight)

650894

In [1054]:
Freight = Freight[Freight['Truck No'].astype(str).str.startswith(('U','D','F'))]
Freight.reset_index(drop=True, inplace=True)
Freight.index += 1

In [1055]:
len(Freight)

558769

In [1056]:
Freight = Freight.loc[Freight['City Code'] == 'E10']
Freight.reset_index(drop=True, inplace=True)
Freight.index += 1
len(Freight)

14818

In [1057]:
Freight.sort_values(by='Gate Out D', inplace=True)
Freight.reset_index(drop=True, inplace=True)
Freight.index += 1

In [1058]:
Freight['Gate Out D'] = (pd.to_datetime
                                 (Freight['Gate Out D'], errors='coerce'))
# Freight['year'] = Freight['Gate Out D'].dt.year
# Freight['month'] = Freight['Gate Out D'].dt.month
# Freight['day'] = Freight['Gate Out D'].dt.day

In [1059]:
Freight = Freight[(Freight['Gate Out D'].dt.month == 12) & (Freight['Gate Out D'].dt.year == 2023)]
Freight.reset_index(drop=True, inplace=True)
Freight.index += 1

In [1060]:
len(Freight)

392

In [1061]:
Freight['Gate Out D'] = Freight['Gate Out D'].dt.date
Freight.reset_index(drop=True, inplace=True)
Freight.index += 1

In [4]:
data = {
    'Model Name': ['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elantra'],
    'Model Code': ['HQA','SVA','HQF','FHW','6IW','HQW','H6F','9ML','SPW','HOW','0YF','C4A','S5F'],
    'Length(m)':    [3.765,3.995,3.995,4.330,4.635,3.815,4.535,4.480,3.995,4.180,4.535,3.610,4.570],
    'Width(m)':     [1.660,1.775,1.680,1.790,1.890,1.710,1.765,1.850,1.770,1.800,1.765,1.645,1.800],
}


# Create DataFrame
df = pd.DataFrame(data)
df['Area(m)'] = df['Length(m)'] * df['Width(m)']
# df.loc[df['Model Name'].isin(['Aura', 'Xcent']), 'Model Code'] = 'SVA'
# df['Model Code'] = df['Model Code'].replace('ALL', 'SVA')
cardim = df.copy()

In [5]:
cardim

    Model Name Model Code  Length(m)  Width(m)   Area(m)
0    Grand i10        HQA      3.765     1.660  6.249900
1          i20        SVA      3.995     1.775  7.091125
2   Aura/Xcent        HQF      3.995     1.680  6.711600
3        Creta        FHW      4.330     1.790  7.750700
4        Ioniq        6IW      4.635     1.890  8.760150
5        Exter        HQW      3.815     1.710  6.523650
6        Verna        H6F      4.535     1.765  8.004275
7       Tuscon        9ML      4.480     1.850  8.288000
8        Venue        SPW      3.995     1.770  7.071150
9         Kona        HOW      4.180     1.800  7.524000
10   New Verna        0YF      4.535     1.765  8.004275
11      Santro        C4A      3.610     1.645  5.938450
12      Elanta        S5F      4.570     1.800  8.226000

In [1064]:
column_names_list = cardim.columns.tolist()
print(column_names_list)

['Model Name', 'Model Code', 'Length(m)', 'Width(m)', 'Area(m)']

In [1065]:
cardimcardim = cardim[['Model Name', 'Model Code', 'Length(m)', 'Width(m)', 'Area(m)']]
mapping = dict(zip(cardim['Model Code'], cardim['Model Name']))
Freight['Model Name'] = Freight['Model Code'].map(mapping)
mapping = dict(zip(cardim['Model Code'], cardim['Length(m)']))
Freight['Length(m)'] = Freight['Model Code'].map(mapping)
mapping = dict(zip(cardim['Model Code'], cardim['Width(m)']))
Freight['Width(m)'] = Freight['Model Code'].map(mapping)
mapping = dict(zip(cardim['Model Code'], cardim['Area(m)']))
Freight['Area(m)'] = Freight['Model Code'].map(mapping)
condition = Freight['Model Code'].isin(['FHB', 'FHC','FHY'])
Freight.loc[condition, ['Model Name', 'Length(m)', 'Width(m)', 'Area(m)']] = ['Alcazar',4.500, 1.790,8.1445]
condition = Freight['Model Code'].isin(['HRW'])
Freight.loc[condition, ['Model Name', 'Length(m)', 'Width(m)', 'Area(m)']] = ['Tuscon',4.480,1.850,8.288000]
condition = Freight['Model Code'].isin(['B4F'])
Freight.loc[condition, ['Model Name', 'Length(m)', 'Width(m)', 'Area(m)']] = ['Aura/Xcent',3.995,1.680,6.711600]

In [1066]:
Freight

,Shipment n,Truck No,Customer,Customer Name,Confirm St,City Code,Model Code,VIN No,Delivery N,Remarks,...,Net Freigh,Confirmed,Curr,DMS Date,GEO Fence,Sub Vendor.1,Model Name,Length(m),Width(m),Area(m)
1,1562944,FE107,A10AGE1223,FINEX MERCHANTS PVT LTD,F,E10,HQW,MALB581CLPM049376,115509765,NaN,...,22219.0,2023-12-12,INR,2023-12-04,NaT,NaN,Exter,3.815,1.71,6.52365
2,1562845,FE113,A10AGE1223,FINEX MERCHANTS PVT LTD,F,E10,HQA,MALB151CLPM507111,115510505,NaN,...,22219.0,2023-12-12,INR,2023-12-04,2023-12-04,NaN,Grand i10,3.765,1.66,6.24990
3,1562845,FE113,A10AGE1230,ETHEREAL AUTO PVT LTD,F,E10,HQA,MALB351CLPM507751,115513410,NaN,...,22219.0,2023-12-12,INR,2023-12-06,2023-12-06,NaN,Grand i10,3.765,1.66,6.24990
4,1562944,FE107,A10AGE1205,FINEX MERCHANTS PVT.LTD.,F,E10,FHW,MALPC812LPM598668,115513138,NaN,...,28218.0,2023-12-12,INR,2023-12-04,2023-12-04,NaN,Creta,4.330,1.79,7.75070
5,1562944,FE107,A10AGE1223,FINEX MERCHANTS PVT LTD,F,E10,SPW,MALFD81BLPM549389,115510706,NaN,...,28218.0,2023-12-12,INR,2023-12-04,NaT,NaN,Venue,3.995,1.77,7.07115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,1571298,FE114,A10AGE1223,FINEX MERCHANTS PVT LTD,F,E10,FHW,MALPA812LPM704572,115552621,NaN,...,28218.0,2024-02-20,INR,2024-01-02,2024-01-04,NaN,Creta,4.330,1.79,7.75070
389,1571083,FG164,A10AGE1234,FULCRUM AGENCIES PVT LTD,F,E10,HQW,MALB381CLPM056409,115575907,NaN,...,22219.0,2024-01-09,INR,2024-01-02,2024-01-02,NaN,Exter,3.815,1.71,6.52365
390,1571083,FG164,A10AGE1200,Frostees India Pvt. Ltd.,F,E10,HQW,MALB281CLPM055610,115575579,NaN,...,22219.0,2024-01-09,INR,2024-01-02,2024-01-02,NaN,Exter,3.815,1.71,6.52365
391,1571083,FG164,A10AGE1234,FULCRUM AGENCIES PVT LTD,F,E10,FHW,MALPA813LPM707865,115575895,NaN,...,28218.0,2024-01-09,INR,2024-01-02,2024-01-02,NaN,Creta,4.330,1.79,7.75070
392,1571083,FG164,A10AGE1234,FULCRUM AGENCIES PVT LTD,F,E10,HQW,MALB381CLPM056012,115575906,NaN,...,22219.0,2024-01-09,INR,2024-01-02,2024-01-02,NaN,Exter,3.815,1.71,6.52365

In [1067]:
Best_Shippment = Freight.groupby(['Shipment n', 'Truck No'])['Area(m)'].sum().reset_index()
Best_Shippment['Total_Area(m)'] = Best_Shippment['Area(m)']
Best_Shippment = Best_Shippment.drop_duplicates(subset=['Shipment n'], keep='first')
Best_Shippment = Best_Shippment.sort_values(by='Total_Area(m)', ascending=False)
Best_Shippment.drop(columns=['Area(m)'], inplace=True)
Best_Shippment.reset_index(drop=True, inplace=True)
Best_Shippment.index += 1
Area_ = Best_Shippment.copy()

In [1068]:
Best_Shippment.drop(columns=['Total_Area(m)'], inplace=True)

In [1069]:
column_list = ['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elantra','Alcazar']
for col in column_list:
    Best_Shippment[col] = None
# Initialize the columns in df2 with zeros
for col in Best_Shippment.columns:
    if col not in ['Shipment n', 'Truck No']:
        Best_Shippment[col] = 0

# Update df2 based on df1
for index, row in Freight.iterrows():
    mask = (Best_Shippment['Shipment n'] == row['Shipment n']) & (Best_Shippment['Truck No'] == row['Truck No'])
    Best_Shippment.loc[mask, row['Model Name']] += 1

In [1070]:
Best_of_Freight = Best_Shippment.copy()

In [1071]:
Best_Shippment = Best_Shippment.merge(Freight[['Gate Out D', 'Shipment n']], on='Shipment n', how='left')
Best_Shippment = Best_Shippment.merge(Area_[['Total_Area(m)', 'Shipment n']], on='Shipment n', how='left')
Best_Shippment = Best_Shippment.drop_duplicates(subset=['Shipment n'], keep='first')
Best_Shippment['total_cars'] = Best_Shippment[['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elantra','Alcazar']].sum(axis=1)
Best_Shippment = Best_Shippment[['Gate Out D', 'Shipment n', 'Truck No','total_cars','Total_Area(m)','Grand i10', 'i20', 'Aura/Xcent', 'Creta', 'Ioniq', 'Exter', 'Verna', 'Tuscon', 'Venue', 'Kona', 'New Verna', 'Santro', 'Elantra', 'Alcazar']]
Best_Shippment.reset_index(drop=True, inplace=True)
Best_Shippment.index += 1

In [1072]:
df2 = Best_Shippment.copy()

In [1073]:
# Assuming you have already loaded df1 and df2

# Create a dictionary to map model names to their lengths and widths
model_info = {
   'Grand i10': {'Length(m)': 3.765, 'Width(m)': 1.660},
    'i20': {'Length(m)': 3.995, 'Width(m)': 1.775},
    'Aura/Xcent': {'Length(m)': 3.995, 'Width(m)': 1.680},
    'Creta': {'Length(m)': 4.330, 'Width(m)': 1.790},
    'Ioniq': {'Length(m)': 4.635, 'Width(m)': 1.890},
    'Exter': {'Length(m)': 3.815, 'Width(m)': 1.710},
    'Verna': {'Length(m)': 4.535, 'Width(m)': 1.765},
    'Tuscon': {'Length(m)': 4.480, 'Width(m)': 1.850},
    'Venue': {'Length(m)': 3.995, 'Width(m)': 1.770},
    'Kona': {'Length(m)': 4.180, 'Width(m)': 1.800},
    'New Verna': {'Length(m)': 4.535, 'Width(m)': 1.765},
    'Santro': {'Length(m)': 3.610, 'Width(m)': 1.645},
    'Elantra': {'Length(m)': 4.570, 'Width(m)': 1.800},
    'Alcazar': {'Length(m)': 4.500, 'Width(m)': 1.790}
}

# Calculate total length and total width for each row in df2
df2['total_length'] = df2.apply(lambda row: sum(model_info[model]['Length(m)'] * row[model] for model in model_info), axis=1)
df2['total_width'] = df2.apply(lambda row: sum(model_info[model]['Width(m)'] * row[model] for model in model_info), axis=1)

# Print the modified df2
df2
Best_Shippment = df2

In [1074]:
Best_Shippment

,Gate Out D,Shipment n,Truck No,total_cars,Total_Area(m),Grand i10,i20,Aura/Xcent,Creta,Ioniq,...,Verna,Tuscon,Venue,Kona,New Verna,Santro,Elanta,Alcazar,total_length,total_width
1,2023-12-01,1562944,FE107,8,58.120275,0,3,0,3,0,...,0,0,1,0,0,0,0,0,32.785,14.175
2,2023-12-03,1563794,FE138,8,57.806575,1,1,0,3,0,...,0,0,3,0,0,0,0,0,32.735,14.115
3,2023-12-13,1566080,FE105,8,57.786200,1,2,0,1,0,...,0,0,1,0,2,0,0,0,32.965,14.010
4,2023-12-15,1567031,FE115,8,57.700600,1,1,1,2,0,...,0,0,2,0,1,0,0,0,32.940,14.000
5,2023-12-27,1571298,FE114,8,57.532825,0,1,0,3,0,...,0,0,2,0,0,0,0,0,32.605,14.105
6,2023-12-14,1566165,FE133,8,57.492675,1,0,0,2,0,...,0,0,3,0,1,0,0,0,32.760,14.025
7,2023-12-19,1568149,DG002,8,57.460700,0,4,0,2,0,...,0,0,1,0,0,0,0,0,32.450,14.160
8,2023-12-12,1565468,FE112,8,57.112950,2,0,1,1,0,...,0,0,2,0,2,0,0,0,32.915,13.860
9,2023-12-08,1564481,FE129,8,57.034725,0,4,0,0,0,...,0,0,2,0,1,0,0,0,32.320,14.115
10,2023-12-01,1562845,FE113,8,56.843625,3,1,0,4,0,...,0,0,0,0,0,0,0,0,32.610,13.915
11,2023-12-09,1565016,FJ800,8,56.767475,1,1,1,2,0,...,0,0,3,0,0,0,0,0,32.400,14.005
12,2023-12-09,1564827,FE138,8,56.619475,1,3,0,2,0,...,0,0,1,0,0,0,0,0,32.220,14.045
13,2023-12-15,1567187,FE123,8,56.507200,0,5,0,0,0,...,0,0,0,0,1,0,0,0,32.140,14.060
14,2023-12-22,1569633,DG060,8,56.487425,1,3,0,1,0,...,0,0,3,0,0,0,0,0,32.065,14.085
15,2023-12-19,1567863,FE135,8,56.417650,3,1,0,2,0,...,0,0,1,0,1,0,0,0,32.480,13.870
16,2023-12-15,1566867,FE121,8,56.273800,1,0,0,0,0,...,0,0,5,0,0,0,0,1,32.055,14.010
17,2023-12-15,1566917,FE148,8,55.833950,1,3,1,0,0,...,0,0,1,0,1,0,0,0,32.090,13.910
18,2023-12-20,1568713,FE119,8,55.540225,2,2,1,0,0,...,0,0,2,0,1,0,0,0,32.040,13.855
19,2023-12-07,1564221,FE150,8,55.460725,0,0,3,1,0,...,0,0,0,0,1,0,0,0,32.295,13.725
20,2023-12-08,1564527,FA423,8,55.392225,2,4,0,0,0,...,0,0,0,0,1,0,0,0,31.860,13.895
21,2023-12-16,1567545,FE116,8,55.058750,2,0,0,1,0,...,0,0,4,0,0,0,0,0,31.655,13.900
22,2023-12-14,1566658,FE336,8,54.937025,3,1,0,2,0,...,0,0,1,0,0,0,0,0,31.760,13.815
23,2023-12-14,1566425,F5700,8,54.916850,2,1,0,1,0,...,0,0,0,0,1,0,0,0,31.835,13.780
24,2023-12-17,1567676,FF340,8,54.577475,3,1,1,2,0,...,0,0,0,0,0,0,0,0,31.760,13.725
25,2023-12-06,1564048,FH193,8,54.537325,2,0,1,1,0,...,0,0,0,0,1,0,0,0,31.835,13.685
26,2023-12-02,1563369,D8232,8,54.489600,4,0,0,1,0,...,0,0,1,0,0,0,0,1,31.700,13.700
27,2023-12-25,1570775,DG088,8,54.399175,2,1,0,0,0,...,0,0,4,0,0,0,0,0,31.320,13.885
28,2023-12-06,1564012,D7490,8,54.263575,3,0,1,1,0,...,0,0,0,0,1,0,0,0,31.785,13.635
29,2023-12-21,1569390,D2143,8,53.871650,2,2,0,0,0,...,0,0,2,0,0,0,0,0,31.140,13.830
30,2023-12-02,1563597,FF368,8,53.822050,3,0,0,2,0,...,0,0,0,0,0,0,0,0,31.400,13.690
31,2023-12-16,1567435,FF449,8,53.624175,2,1,1,1,0,...,0,0,0,0,0,0,0,0,31.295,13.695
32,2023-12-14,1566780,FF828,8,53.577925,3,1,0,0,0,...,0,0,3,0,0,0,0,0,31.090,13.775
33,2023-12-12,1565590,FK114,7,53.437200,0,0,1,2,0,...,0,0,1,0,2,0,0,1,30.220,12.350
34,2023-12-27,1571083,FG164,8,53.416250,0,0,0,1,0,...,0,0,0,0,0,0,0,0,31.035,13.760
35,2023-12-02,1563490,F7165,8,52.868750,4,0,0,1,0,...,0,0,1,0,0,0,0,0,31.015,13.620
36,2023-12-13,1565876,FD448,8,52.762775,4,0,1,0,0,...,0,0,0,0,1,0,0,0,31.220,13.505
37,2023-12-14,1566692,FD749,7,52.469425,0,2,0,1,0,...,0,0,0,0,3,0,0,0,29.740,12.345
38,2023-12-14,1566634,F6570,7,51.888675,1,0,0,1,0,...,0,0,1,0,1,0,0,2,29.440,12.275
39,2023-12-17,1567662,FD441,8,51.641700,4,0,0,0,0,...,0,0,1,0,0,0,0,0,30.500,13.540
40,2023-12-07,1564394,FA539,8,50.840425,7,1,0,0,0,...,0,0,0,0,0,0,0,0,30.350,13.395
41,2023-12-09,1565082,F1736,8,50.820450,5,0,0,0,0,...,0,0,0,0,0,0,0,0,30.270,13.430
42,2023-12-03,1563848,FH724,7,50.735425,1,1,0,3,0,...,0,0,2,0,0,0,0,0,28.740,12.345
43,2023-12-20,1568618,FD440,7,50.571800,0,2,2,1,0,...,0,0,1,0,0,0,0,1,28.805,12.260
44,2023-12-10,1565181,FD944,8,50.546700,6,0,0,0,0,...,0,0,0,0,0,0,0,0,30.220,13.380
45,2023-12-08,1564705,F4059,8,50.546700,6,0,0,0,0,...,0,0,0,0,0,0,0,0,30.220,13.380
46,2023-12-07,1564411,F4087,8,49.999200,8,0,0,0,0,...,0,0,0,0,0,0,0,0,30.120,13.280
47,2023-12-07,1564401,D0399,8,49.999200,8,0,0,0,0,...,0,0,0,0,0,0,0,0,30.120,13.280
48,2023-12-20,1568960,FJ001,7,49.070400,0,6,0,0,0,...,0,0,0,0,0,0,0,0,27.785,12.360
49,2023-12-02,1563648,FB896,7,48.779025,3,0,0,2,0,...,0,0,0,0,1,0,0,0,28.305,12.035
50,2023-12-02,1563606,F8142,7,48.393400,1,0,0,2,0,...,0,0,1,0,0,0,0,0,27.865,12.140

In [1076]:
Best_Shippment.to_pickle('Best_Shipment.pkl')
Best_Shippment.to_excel("Best_Shipment.xlsx", index=False)

In [1077]:
data = Best_Shippment.copy()

In [1078]:
column_names_list = data.columns.tolist()
print(column_names_list)

['Gate Out D', 'Shipment n', 'Truck No', 'total_cars', 'Total_Area(m)', 'Grand i10', 'i20', 'Aura/Xcent', 'Creta', 'Ioniq', 'Exter', 'Verna', 'Tuscon', 'Venue', 'Kona', 'New Verna', 'Santro', 'Elanta', 'Alcazar', 'total_length', 'total_width']

In [1079]:
column_names = ['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elantra','Alcazar','total_cars']

# Initialize an empty dictionary to store the sums
column_sums = {}

# Iterate through each column name
for col_name in column_names:
    column_sums[col_name] = Best_Shippment[col_name].sum()

# Print the sums
for col_name, col_sum in column_sums.items():
    print(f"{col_name}: {col_sum}")

Grand i10: 110
i20: 59
Aura/Xcent: 16
Creta: 55
Ioniq: 0
Exter: 66
Verna: 0
Tuscon: 0
Venue: 56
Kona: 0
New Verna: 24
Santro: 0
Elanta: 0
Alcazar: 6
total_cars: 392

In [1441]:
unique_count = data['Shipment n'].nunique()
print(f"Number of unique values in column 'Shipment n': {unique_count}")

Number of unique values in column 'Shipment n': 50

In [1442]:
# # Merge the two DataFrames on 'Model Name'
# df = pd.merge(df1, df2, on='Model Name')

# # Sort the DataFrame by area in descending order
# df = df.sort_values(by='Area(m)', ascending=False)

# # Initialize variables
# trucks = []
# current_truck = []
# current_area = 0
# current_count = 0

# # Function to add a car to the current truck
# def add_to_truck(row):
#     global current_truck, current_area, current_count
#     current_truck.append(row['Model Name'])
#     current_area += row['Area(m)']
#     current_count += 1

# # Iterate through the DataFrame
# for index, row in df.iterrows():
#     for _ in range(row['Count']):
#         if current_count < 8 and current_area + row['Area(m)'] <= 60.22:
#             add_to_truck(row)
#         else:
#             trucks.append(current_truck)
#             current_truck = []
#             current_area = 0
#             current_count = 0
#             add_to_truck(row)

# # Add the last truck if it has cars
# if current_truck:
#     trucks.append(current_truck)

# # Print the result
# for i, truck in enumerate(trucks):
#     print(f"Truck {i+1}: {truck}")

In [109]:
df1 = cardim[['Model Name','Length(m)', 'Width(m)','Area(m)']]

In [110]:
df1 = df1[['Model Name','Length(m)', 'Width(m)','Area(m)']]
new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790,'Area(m)': 8.1445}
# Append the new row to the DataFrame
new_row_df = pd.DataFrame([new_row_df])
# Concatenate the new row to the existing DataFrame
df1 = pd.concat([df1, new_row_df], ignore_index=True)

In [111]:
df1

    Model Name  Length(m)  Width(m)   Area(m)
0    Grand i10      3.765     1.660  6.249900
1          i20      3.995     1.775  7.091125
2   Aura/Xcent      3.995     1.680  6.711600
3        Creta      4.330     1.790  7.750700
4        Ioniq      4.635     1.890  8.760150
5        Exter      3.815     1.710  6.523650
6        Verna      4.535     1.765  8.004275
7       Tuscon      4.480     1.850  8.288000
8        Venue      3.995     1.770  7.071150
9         Kona      4.180     1.800  7.524000
10   New Verna      4.535     1.765  8.004275
11      Santro      3.610     1.645  5.938450
12      Elanta      4.570     1.800  8.226000
13     Alcazar      4.500     1.790  8.144500

In [112]:
df1 = df1[['Model Name','Length(m)', 'Width(m)','Area(m)']]
new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790, 'Area(m)': 8.1445}
# Append the new row to the DataFrame
new_row_df = pd.DataFrame([new_row_df])

# Concatenate the new row to the existing DataFrame
df1 = pd.concat([df1, new_row_df], ignore_index=True)

In [113]:
# data2 = {
#     'Model Name': [
#     "Grand i10", "i20", "Aura/Xcent", "Creta", "Ioniq",
#     "Exter", "Verna", "Tuscon", "Venue", "Kona",
#     "New Verna", "Santro", "Elantra", "Alcazar"
# ],
#     'Count':[
#     110, 59, 16, 55, 0,
#     66, 0, 0, 56, 0,
#     24, 0, 0, 6
# ]
# }
# df2 = pd.DataFrame(data2)

In [114]:
data2 = {
    'Model Name': [
    "Grand i10", "i20", "Aura/Xcent", "Creta", "Ioniq",
    "Exter", "Verna", "Tuscon", "Venue", "Kona",
    "New Verna", "Santro", "Elantra", "Alcazar"
],
    'Count':[
    1, 2, 0, 5, 7,
    0, 0, 0, 0, 0,
    0, 0, 0, 6
]
}
df2 = pd.DataFrame(data2)

In [115]:
df = pd.merge(df1, df2, on='Model Name')

# # Sort the DataFrame by area in descending order
# df = df.sort_values(by='Area(m)', ascending=False)

# # Initialize variables
# trucks = []
# current_truck = {model: 0 for model in df['Model Name']}
# current_area = 0
# current_count = 0
# truck_no = 1

# # Function to add a car to the current truck
# def add_to_truck(row):
#     global current_truck, current_area, current_count
#     current_truck[row['Model Name']] += 1
#     current_area += row['Area(m)']
#     current_count += 1

# # Iterate through the DataFrame
# for index, row in df.iterrows():
#     for _ in range(row['Count']):
#         if current_count < 8 and current_area + row['Area(m)'] <= 58.12:
#             add_to_truck(row)
#         else:
#             current_truck['Truck No'] = truck_no
#             trucks.append(current_truck)
#             truck_no += 1
#             current_truck = {model: 0 for model in df['Model Name']}
#             current_area = 0
#             current_count = 0
#             add_to_truck(row)

# # Add the last truck if it has cars
# if current_count > 0:
#     current_truck['Truck No'] = truck_no
#     trucks.append(current_truck)

# # Create the final DataFrame
# truck_df = pd.DataFrame(trucks)

# # # Display the DataFrame
# # truck_df

In [116]:
# df2 = cardim.copy()

In [118]:
data2 = {
    'Model Name': [
    "Grand i10", "i20", "Aura/Xcent", "Creta", "Ioniq",
    "Exter", "Verna", "Tuscon", "Venue", "Kona",
    "New Verna", "Santro", "Elantra", "Alcazar"
],
    'Count':[
    1, 2, 0, 5, 7,
    0, 0, 0, 0, 0,
    0, 0, 0, 6
]
}
df2 = pd.DataFrame(data2)

In [101]:
# truck_df2 = truck_df.copy()
# # Append the new row to the DataFrame
# df2 = df2[['Model Name','Length(m)', 'Width(m)','Area(m)']]
# new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790, 'Area(m)': 8.1445}
# # Append the new row to the DataFrame
# new_row_df = pd.DataFrame([new_row_df])

# # Concatenate the new row to the existing DataFrame
# df2 = pd.concat([df2, new_row_df], ignore_index=True)

In [102]:
# Append the new row to the DataFrame
df1 = df1[['Model Name','Length(m)', 'Width(m)','Area(m)']]
new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790, 'Area(m)': 8.1445}
# Append the new row to the DataFrame
new_row_df = pd.DataFrame([new_row_df])

# Concatenate the new row to the existing DataFrame
df1 = pd.concat([df1, new_row_df], ignore_index=True)

In [119]:
# import pandas as pd
# data2 = {
#     'Model Name': [
#     "Grand i10", "i20", "Aura/Xcent", "Creta", "Ioniq",
#     "Exter", "Verna", "Tuscon", "Venue", "Kona",
#     "New Verna", "Santro", "Elantra", "Alcazar"
# ],
#     'Count':[
#     110, 59, 16, 55, 0,
#     66, 0, 0, 56, 0,
#     24, 0, 0, 6
# ]
# }
# df2 = pd.DataFrame(data2)
# Assuming df1 and df2 are already defined
# Append the new row to the DataFrame
df1 = df1[['Model Name','Length(m)', 'Width(m)','Area(m)']]
new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790, 'Area(m)': 8.1445}
# Append the new row to the DataFrame
new_row_df = pd.DataFrame([new_row_df])

# Concatenate the new row to the existing DataFrame
df1 = pd.concat([df1, new_row_df], ignore_index=True)
# Merge the DataFrames on 'Model Name'
df = pd.merge(df1, df2, on='Model Name')

# Sort the DataFrame by area in descending order
df = df.sort_values(by='Area(m)', ascending=False)
df = df.head()

In [107]:
trucks = []
current_truck = {model: 0 for model in df['Model Name']}
current_length = 0
current_width = 0
current_area = 0
current_count = 0
truck_no = 1

# Function to add a car to the current truck
def add_to_truck(row):
    global current_truck, current_area, current_count, current_length, current_width
    current_truck[row['Model Name']] += 1
    current_area += row['Area(m)']
    current_width += row['Width(m)']
    current_length += row['Length(m)']
    current_count += 1

# Iterate through the DataFrame
for index, row in df.iterrows():
    for _ in range(row['Count']):
        if (current_count <= 8 and
            current_area + row['Area(m)'] <= 60.22 and
            current_length + row['Length(m)'] <= 34.5):
            add_to_truck(row)
        else:
            current_truck['Truck No'] = truck_no
            trucks.append(current_truck)
            truck_no += 1
            current_truck = {model: 0 for model in df['Model Name']}
            current_length = 0
            current_width = 0
            current_area = 0
            current_count = 0
            add_to_truck(row)

# Add the last truck if it has cars
if current_count > 0:
    current_truck['Truck No'] = truck_no
    trucks.append(current_truck)

# Create the final DataFrame
truck_df = pd.DataFrame(trucks)

# Display the DataFrame
print(truck_df)

   Ioniq  Tuscon  Elanta  Alcazar  Truck No
0      0       0       0        7         1
1      0       0       0        5         2

In [105]:
# Sort the DataFrame by area in descending order
df = df.sort_values(by='Area(m)', ascending=False)

# Initialize variables
trucks = []
current_truck = {model: 0 for model in df['Model Name']}
current_length, current_width, current_area, current_count = 0, 0, 0, 0
truck_no = 1

# Function to add a car to the current truck
def add_to_truck(row):
    global current_truck, current_area, current_count, current_length, current_width
    current_truck[row['Model Name']] += 1
    current_area += row['Area(m)']
    current_width += row['Width(m)']
    current_length += row['Length(m)']
    current_count += 1

# Iterate through the DataFrame
for _, row in df.iterrows():
    for _ in range(row['Count']):
        if (current_count <= 8 and
            current_area + row['Area(m)'] <= 60.22 and
            current_length + row['Length(m)'] <= 34.5 and
            current_width + row['Width(m)'] <= 14.2):
            add_to_truck(row)
        else:
            current_truck['Truck No'] = truck_no
            trucks.append(current_truck)
            truck_no += 1
            current_truck = {model: 0 for model in df['Model Name']}
            current_length, current_width, current_area, current_count = 0, 0, 0, 0
            add_to_truck(row)

# Add the last truck if it has cars
if current_count > 0:
    current_truck['Truck No'] = truck_no
    trucks.append(current_truck)

# Create the final DataFrame
truck_df = pd.DataFrame(trucks)

# Display the DataFrame
truck_df

   Ioniq  Tuscon  Elanta  Alcazar  Truck No
0      0       0       0        7         1
1      0       0       0        5         2

In [70]:
df = df.sort_values(by='Area(m)', ascending=False)

# Initialize variables
trucks = []
current_truck = {model: 0 for model in df['Model Name']}
current_length, current_width, current_area, current_count = 0, 0, 0, 0
truck_no = 1

# Function to add a car to the current truck
def add_to_truck(row):
    global current_truck, current_area, current_count, current_length, current_width
    current_truck[row['Model Name']] += 1
    current_area += row['Area(m)']
    current_width += row['Width(m)']
    current_length += row['Length(m)']
    current_count += 1

# Iterate through the DataFrame
for _, row in df.iterrows():
    for _ in range(row['Count']):
        if (current_count <= 8 and
            current_area + row['Area(m)'] <= 60.22 and
            current_length + row['Length(m)'] <= 34.5 and
            current_width + row['Width(m)'] <= 14.2):
            add_to_truck(row)
        else:
            current_truck['Truck No'] = truck_no
            trucks.append(current_truck)
            truck_no += 1
            current_truck = {model: 0 for model in df['Model Name']}
            current_length, current_width, current_area, current_count = 0, 0, 0, 0
            add_to_truck(row)

# Add the last truck if it has cars
if current_count > 0:
    current_truck['Truck No'] = truck_no
    trucks.append(current_truck)

# Create the final DataFrame
truck_df = pd.DataFrame(trucks)

# Display the DataFrame
truck_df

   Ioniq  Tuscon  Elanta  Alcazar  Truck No
0      0       0       0        7         1
1      0       0       0        5         2

In [59]:
# Sort the DataFrame by area in descending order
df = df.sort_values(by='Area(m)', ascending=False)

# Initialize variables
best_trucks = None
min_trucks = float('inf')

# Generate all combinations of cars
for r in range(1, len(df) + 1):
    for combo in combinations(df.iterrows(), r):
        current_truck = {model: 0 for model in df['Model Name']}
        current_length = 0
        current_width = 0
        current_area = 0
        current_count = 0

        for _, row in combo:
            for _ in range(row['Count']):
                if (current_count <= 8 and
                    current_area + row['Area(m)'] <= 60.220000 and
                    current_length + row['Length(m)'] <= 34.500000 and
                    current_width + row['Width(m)'] <= 14.2000):
                    add_to_truck(row)
                else:
                    break

        if current_count > 0:
            trucks_needed = len([val for val in current_truck.values() if val > 0])
            if trucks_needed < min_trucks:
                min_trucks = trucks_needed
                best_trucks = current_truck

# Create the final DataFrame
truck_df = pd.DataFrame([best_trucks])

# Display the DataFrame
truck_df

   Ioniq  Tuscon  Elanta  Alcazar
0      0       0       0        6

In [120]:
df = pd.merge(df1, df2, on='Model Name')

# Sort the DataFrame by area in descending order
df = df.sort_values(by='Area(m)', ascending=False)

# Initialize variables
trucks = []
current_truck = {model: 0 for model in df['Model Name']}
current_area = 0
current_count = 0
truck_no = 1

# Function to add a car to the current truck
def add_to_truck(row):
    global current_truck, current_area, current_count
    current_truck[row['Model Name']] += 1
    current_area += row['Area(m)']
    current_count += 1

# Iterate through the DataFrame
for index, row in df.iterrows():
    for _ in range(row['Count']):
        if current_area + row['Area(m)'] <= 60.00   and current_count <= 8 :
            add_to_truck(row)
        else:
            current_truck['Truck No'] = truck_no
            trucks.append(current_truck)
            truck_no += 1
            current_truck = {model: 0 for model in df['Model Name']}
            current_area = 0
            current_count = 0
            add_to_truck(row)

# Add the last truck if it has cars
if current_count > 0:
    current_truck['Truck No'] = truck_no
    trucks.append(current_truck)

# Create the final DataFrame
truck_df = pd.DataFrame(trucks)

# Display the DataFrame
truck_df

,Ioniq,Tuscon,Alcazar,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Exter,Grand i10,Santro,Truck No
0,6,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,0,6,0,0,0,0,0,0,0,0,0,0,2
2,0,0,7,0,0,0,0,0,0,0,0,0,0,3
3,0,0,5,0,0,2,0,0,0,0,0,0,0,4
4,0,0,0,0,0,3,0,2,0,0,0,1,0,5

In [10]:
column_names_list = truck_df.columns.tolist()
print(column_names_list)

['Ioniq', 'Tuscon', 'Elanta', 'Alcazar', 'Verna', 'New Verna', 'Creta', 'Kona', 'i20', 'Venue', 'Aura/Xcent', 'Exter', 'Grand i10', 'Santro', 'Truck No']

In [11]:
truck_df2 = truck_df.copy()

In [12]:
truck_df = truck_df[['Truck No','Ioniq', 'Tuscon', 'Elantra', 'Verna', 'New Verna', 'Creta', 'Kona', 'i20', 'Venue', 'Aura/Xcent', 'Grand i10', 'Santro', 'Exter','Alcazar']]
truck_df.reset_index(drop=True, inplace=True)
truck_df.index += 1

In [13]:
truck_df

,Truck No,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar
1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,6
2,2,0,0,0,0,7,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,7,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,7,0,0,0,0,0,0,0,0,0
5,5,0,0,0,0,2,5,0,0,0,0,0,0,0,0
6,6,0,0,0,0,0,7,0,0,0,0,0,0,0,0
7,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
8,8,0,0,0,0,0,7,0,0,0,0,0,0,0,0
9,9,0,0,0,0,0,7,0,0,0,0,0,0,0,0
10,10,0,0,0,0,0,7,0,0,0,0,0,0,0,0
11,11,0,0,0,0,0,7,0,0,0,0,0,0,0,0
12,12,0,0,0,0,0,7,0,0,0,0,0,0,0,0
13,13,0,0,0,0,0,1,0,6,0,0,0,0,0,0
14,14,0,0,0,0,0,0,0,7,0,0,0,0,0,0
15,15,0,0,0,0,0,0,0,7,0,0,0,0,0,0
16,16,0,0,0,0,0,0,0,7,0,0,0,0,0,0
17,17,0,0,0,0,0,0,0,7,0,0,0,0,0,0
18,18,0,0,0,0,0,0,0,7,0,0,0,0,0,0
19,19,0,0,0,0,0,0,0,7,0,0,0,0,0,0
20,20,0,0,0,0,0,0,0,7,0,0,0,0,0,0
21,21,0,0,0,0,0,0,0,4,4,0,0,0,0,0
22,22,0,0,0,0,0,0,0,0,8,0,0,0,0,0
23,23,0,0,0,0,0,0,0,0,8,0,0,0,0,0
24,24,0,0,0,0,0,0,0,0,8,0,0,0,0,0
25,25,0,0,0,0,0,0,0,0,8,0,0,0,0,0
26,26,0,0,0,0,0,0,0,0,8,0,0,0,0,0
27,27,0,0,0,0,0,0,0,0,8,0,0,0,0,0
28,28,0,0,0,0,0,0,0,0,4,4,0,0,0,0
29,29,0,0,0,0,0,0,0,0,0,8,0,0,0,0
30,30,0,0,0,0,0,0,0,0,0,4,0,0,4,0
31,31,0,0,0,0,0,0,0,0,0,0,0,0,8,0
32,32,0,0,0,0,0,0,0,0,0,0,0,0,8,0
33,33,0,0,0,0,0,0,0,0,0,0,0,0,8,0
34,34,0,0,0,0,0,0,0,0,0,0,0,0,8,0
35,35,0,0,0,0,0,0,0,0,0,0,0,0,8,0
36,36,0,0,0,0,0,0,0,0,0,0,0,0,8,0
37,37,0,0,0,0,0,0,0,0,0,0,0,0,8,0
38,38,0,0,0,0,0,0,0,0,0,0,2,0,6,0
39,39,0,0,0,0,0,0,0,0,0,0,8,0,0,0
40,40,0,0,0,0,0,0,0,0,0,0,8,0,0,0
41,41,0,0,0,0,0,0,0,0,0,0,8,0,0,0
42,42,0,0,0,0,0,0,0,0,0,0,8,0,0,0
43,43,0,0,0,0,0,0,0,0,0,0,8,0,0,0
44,44,0,0,0,0,0,0,0,0,0,0,8,0,0,0
45,45,0,0,0,0,0,0,0,0,0,0,8,0,0,0
46,46,0,0,0,0,0,0,0,0,0,0,8,0,0,0
47,47,0,0,0,0,0,0,0,0,0,0,8,0,0,0
48,48,0,0,0,0,0,0,0,0,0,0,8,0,0,0
49,49,0,0,0,0,0,0,0,0,0,0,8,0,0,0
50,50,0,0,0,0,0,0,0,0,0,0,8,0,0,0
51,51,0,0,0,0,0,0,0,0,0,0,8,0,0,0
52,52,0,0,0,0,0,0,0,0,0,0,4,0,0,0

In [14]:
df2 = cardim.copy()

In [15]:
df2 = df2[['Model Name','Length(m)', 'Width(m)','Area(m)']]
new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790,'Area(m)': 8.1445}
# Append the new row to the DataFrame
new_row_df = pd.DataFrame([new_row_df])
# Concatenate the new row to the existing DataFrame
df2 = pd.concat([df2, new_row_df], ignore_index=True)

In [16]:
# df2 = df2[['Model Name','Area(m)']]
# new_row_df = {'Model Name': 'Alcazar', 'Area(m)': 8.1445}
# # Append the new row to the DataFrame
# new_row_df = pd.DataFrame([new_row_df])

# # Concatenate the new row to the existing DataFrame
# df2 = pd.concat([df2, new_row_df], ignore_index=True)

In [17]:
df2

    Model Name  Length(m)  Width(m)   Area(m)
0    Grand i10      3.765     1.660  6.249900
1          i20      3.995     1.775  7.091125
2   Aura/Xcent      3.995     1.680  6.711600
3        Creta      4.330     1.790  7.750700
4        Ioniq      4.635     1.890  8.760150
5        Exter      3.815     1.710  6.523650
6        Verna      4.535     1.765  8.004275
7       Tuscon      4.480     1.850  8.288000
8        Venue      3.995     1.770  7.071150
9         Kona      4.180     1.800  7.524000
10   New Verna      4.535     1.765  8.004275
11      Santro      3.610     1.645  5.938450
12      Elanta      4.570     1.800  8.226000
13     Alcazar      4.500     1.790  8.144500

In [18]:
model_length = df2.set_index('Model Name')['Length(m)'].to_dict()
model_width = df2.set_index('Model Name')['Width(m)'].to_dict()

# Calculate total length and total width for each truck
truck_df['totallength'] = truck_df.apply(lambda row: sum(row[model] * model_length[model] for model in model_length if model in row), axis=1)
truck_df['totalwidth'] = truck_df.apply(lambda row: sum(row[model] * model_width[model] for model in model_width if model in row), axis=1)

# Display the updated DataFrame
truck_df

C:\Users\xhmiaud03\AppData\Local\Temp\ipykernel_141456\3437668960.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truck_df['totallength'] = truck_df.apply(lambda row: sum(row[model] * model_length[model] for model in model_length if model in row), axis=1)
C:\Users\xhmiaud03\AppData\Local\Temp\ipykernel_141456\3437668960.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truck_df['totalwidth'] = truck_df.apply(lambda row: sum(row[model] * model_width[model] for model in model_width if model in row), axis=1)

,Truck No,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar,totallength,totalwidth
1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,6,31.535,12.505
2,2,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355
3,3,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355
4,4,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355
5,5,0,0,0,0,2,5,0,0,0,0,0,0,0,0,30.720,12.480
6,6,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
7,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
8,8,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
9,9,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
10,10,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
11,11,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
12,12,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530
13,13,0,0,0,0,0,1,0,6,0,0,0,0,0,0,28.300,12.440
14,14,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
15,15,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
16,16,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
17,17,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
18,18,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
19,19,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
20,20,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425
21,21,0,0,0,0,0,0,0,4,4,0,0,0,0,0,31.960,14.180
22,22,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160
23,23,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160
24,24,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160
25,25,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160
26,26,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160
27,27,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160
28,28,0,0,0,0,0,0,0,0,4,4,0,0,0,0,31.960,13.800
29,29,0,0,0,0,0,0,0,0,0,8,0,0,0,0,31.960,13.440
30,30,0,0,0,0,0,0,0,0,0,4,0,0,4,0,31.240,13.560
31,31,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
32,32,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
33,33,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
34,34,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
35,35,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
36,36,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
37,37,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680
38,38,0,0,0,0,0,0,0,0,0,0,2,0,6,0,30.420,13.580
39,39,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
40,40,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
41,41,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
42,42,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
43,43,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
44,44,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
45,45,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
46,46,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
47,47,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
48,48,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
49,49,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
50,50,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
51,51,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280
52,52,0,0,0,0,0,0,0,0,0,0,4,0,0,0,15.060,6.640

In [19]:
# Create a dictionary for model areas
model_area = df2.set_index('Model Name')['Area(m)'].to_dict()

# Calculate total area for each truck
truck_df['totalarea'] = truck_df.apply(lambda row: sum(row[model] * model_area[model] for model in model_area if model in row), axis=1)

C:\Users\xhmiaud03\AppData\Local\Temp\ipykernel_141456\1713839763.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truck_df['totalarea'] = truck_df.apply(lambda row: sum(row[model] * model_area[model] for model in model_area if model in row), axis=1)

In [20]:
truck_df['total_cars'] = truck_df[['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elantra','Alcazar']].sum(axis=1)

C:\Users\xhmiaud03\AppData\Local\Temp\ipykernel_141456\2464101659.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truck_df['total_cars'] = truck_df[['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elanta','Alcazar']].sum(axis=1)

In [21]:
truck_df

,Truck No,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar,totallength,totalwidth,totalarea,total_cars
1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,6,31.535,12.505,56.871275,7
2,2,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355,56.029925,7
3,3,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355,56.029925,7
4,4,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355,56.029925,7
5,5,0,0,0,0,2,5,0,0,0,0,0,0,0,0,30.720,12.480,54.762050,7
6,6,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
7,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
8,8,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
9,9,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
10,10,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
11,11,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
12,12,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
13,13,0,0,0,0,0,1,0,6,0,0,0,0,0,0,28.300,12.440,50.297450,7
14,14,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
15,15,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
16,16,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
17,17,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
18,18,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
19,19,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
20,20,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
21,21,0,0,0,0,0,0,0,4,4,0,0,0,0,0,31.960,14.180,56.649100,8
22,22,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
23,23,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
24,24,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
25,25,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
26,26,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
27,27,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
28,28,0,0,0,0,0,0,0,0,4,4,0,0,0,0,31.960,13.800,55.131000,8
29,29,0,0,0,0,0,0,0,0,0,8,0,0,0,0,31.960,13.440,53.692800,8
30,30,0,0,0,0,0,0,0,0,0,4,0,0,4,0,31.240,13.560,52.941000,8
31,31,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
32,32,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
33,33,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
34,34,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
35,35,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
36,36,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
37,37,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
38,38,0,0,0,0,0,0,0,0,0,0,2,0,6,0,30.420,13.580,51.641700,8
39,39,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
40,40,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
41,41,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
42,42,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
43,43,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
44,44,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
45,45,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
46,46,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
47,47,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
48,48,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
49,49,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
50,50,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
51,51,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
52,52,0,0,0,0,0,0,0,0,0,0,4,0,0,0,15.060,6.640,24.999600,4

In [22]:
truck_df2 = truck_df.copy()

In [23]:
column_names = ['Grand i10','i20','Aura/Xcent','Creta','Ioniq','Exter','Verna','Tuscon','Venue','Kona','New Verna','Santro','Elantra','Alcazar','total_cars']

# Initialize an empty dictionary to store the sums
column_sums = {}

# Iterate through each column name
for col_name in column_names:
    column_sums[col_name] = truck_df[col_name].sum()

# Print the sums
for col_name, col_sum in column_sums.items():
    print(f"{col_name}: {col_sum}")

Grand i10: 110
i20: 59
Aura/Xcent: 16
Creta: 55
Ioniq: 0
Exter: 66
Verna: 0
Tuscon: 0
Venue: 56
Kona: 0
New Verna: 24
Santro: 0
Elanta: 0
Alcazar: 6
total_cars: 392

In [24]:
column_names_list = truck_df.columns.tolist()
print(column_names_list)

['Truck No', 'Ioniq', 'Tuscon', 'Elanta', 'Verna', 'New Verna', 'Creta', 'Kona', 'i20', 'Venue', 'Aura/Xcent', 'Grand i10', 'Santro', 'Exter', 'Alcazar', 'totallength', 'totalwidth', 'totalarea', 'total_cars']

In [25]:
truck_df = truck_df[['Truck No','totalarea','totallength', 'totalwidth','total_cars','Ioniq', 'Tuscon', 'Elantra', 'Verna', 'New Verna', 'Creta', 'Kona', 'i20', 'Venue', 'Aura/Xcent', 'Grand i10', 'Santro', 'Exter','Alcazar']]

In [26]:
truck_df

,Truck No,totalarea,totallength,totalwidth,total_cars,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar
1,1,56.871275,31.535,12.505,7,0,0,0,0,1,0,0,0,0,0,0,0,0,6
2,2,56.029925,31.745,12.355,7,0,0,0,0,7,0,0,0,0,0,0,0,0,0
3,3,56.029925,31.745,12.355,7,0,0,0,0,7,0,0,0,0,0,0,0,0,0
4,4,56.029925,31.745,12.355,7,0,0,0,0,7,0,0,0,0,0,0,0,0,0
5,5,54.762050,30.720,12.480,7,0,0,0,0,2,5,0,0,0,0,0,0,0,0
6,6,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
7,7,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
8,8,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
9,9,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
10,10,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
11,11,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
12,12,54.254900,30.310,12.530,7,0,0,0,0,0,7,0,0,0,0,0,0,0,0
13,13,50.297450,28.300,12.440,7,0,0,0,0,0,1,0,6,0,0,0,0,0,0
14,14,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
15,15,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
16,16,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
17,17,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
18,18,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
19,19,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
20,20,49.637875,27.965,12.425,7,0,0,0,0,0,0,0,7,0,0,0,0,0,0
21,21,56.649100,31.960,14.180,8,0,0,0,0,0,0,0,4,4,0,0,0,0,0
22,22,56.569200,31.960,14.160,8,0,0,0,0,0,0,0,0,8,0,0,0,0,0
23,23,56.569200,31.960,14.160,8,0,0,0,0,0,0,0,0,8,0,0,0,0,0
24,24,56.569200,31.960,14.160,8,0,0,0,0,0,0,0,0,8,0,0,0,0,0
25,25,56.569200,31.960,14.160,8,0,0,0,0,0,0,0,0,8,0,0,0,0,0
26,26,56.569200,31.960,14.160,8,0,0,0,0,0,0,0,0,8,0,0,0,0,0
27,27,56.569200,31.960,14.160,8,0,0,0,0,0,0,0,0,8,0,0,0,0,0
28,28,55.131000,31.960,13.800,8,0,0,0,0,0,0,0,0,4,4,0,0,0,0
29,29,53.692800,31.960,13.440,8,0,0,0,0,0,0,0,0,0,8,0,0,0,0
30,30,52.941000,31.240,13.560,8,0,0,0,0,0,0,0,0,0,4,0,0,4,0
31,31,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
32,32,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
33,33,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
34,34,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
35,35,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
36,36,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
37,37,52.189200,30.520,13.680,8,0,0,0,0,0,0,0,0,0,0,0,0,8,0
38,38,51.641700,30.420,13.580,8,0,0,0,0,0,0,0,0,0,0,2,0,6,0
39,39,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
40,40,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
41,41,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
42,42,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
43,43,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
44,44,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
45,45,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
46,46,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
47,47,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
48,48,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
49,49,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
50,50,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
51,51,49.999200,30.120,13.280,8,0,0,0,0,0,0,0,0,0,0,8,0,0,0
52,52,24.999600,15.060,6.640,4,0,0,0,0,0,0,0,0,0,0,4,0,0,0

In [1613]:
Dimensions = cardim.copy()

In [1614]:
Dimensions = Dimensions[['Model Name','Length(m)', 'Width(m)']]
new_row_df = {'Model Name': 'Alcazar','Length(m)':4.500, 'Width(m)':1.790}
# Append the new row to the DataFrame
new_row_df = pd.DataFrame([new_row_df])
# Concatenate the new row to the existing DataFrame
Dimensions = pd.concat([Dimensions, new_row_df], ignore_index=True)

In [1615]:
Dimensions

    Model Name  Length(m)  Width(m)
0    Grand i10      3.765     1.660
1          i20      3.995     1.775
2   Aura/Xcent      3.995     1.680
3        Creta      4.330     1.790
4        Ioniq      4.635     1.890
5        Exter      3.815     1.710
6        Verna      4.535     1.765
7       Tuscon      4.480     1.850
8        Venue      3.995     1.770
9         Kona      4.180     1.800
10   New Verna      4.535     1.765
11      Santro      3.610     1.645
12      Elanta      4.570     1.800
13     Alcazar      4.500     1.790

In [1616]:
Dimensions = Dimensions[['Model Name','Length(m)', 'Width(m)']]

In [1617]:
# truck_df2 = truck_df2[['Truck No', 'totalarea','totallength', 'totalwidth','total_cars','Ioniq', 'Tuscon', 'Elantra', 'Verna', 'New Verna', 'Creta', 'Kona', 'i20', 'Venue', 'Aura/Xcent', 'Grand i10', 'Santro', 'Exter', 'Alcazar']]

In [1618]:
truck_df2.head()

,Truck No,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar,totallength,totalwidth,totalarea,total_cars
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.5,12.53,57.0115,7
2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.5,12.53,57.0115,7
3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.5,12.53,57.0115,7
4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.5,12.53,57.0115,7
5,5,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.5,12.53,57.0115,7

In [1619]:
truck_df2 = truck_df2.sort_values(by='totalarea', ascending=False)

In [1620]:
truck_df2.tail()

,Truck No,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar,totallength,totalwidth,totalarea,total_cars
20,20,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
21,21,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
22,22,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
23,23,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
57,57,0,0,0,0,0,0,0,0,0,0,5,0,0,0,18.825,8.300,31.249500,5

In [1621]:
truck_df2.to_pickle('Optimized_Shippment.pkl')
truck_df2.to_excel("Optimized_Shippment.xlsx", index=False)

In [1622]:
truck_df2

,Truck No,Ioniq,Tuscon,Elanta,Verna,New Verna,Creta,Kona,i20,Venue,Aura/Xcent,Grand i10,Santro,Exter,Alcazar,totallength,totalwidth,totalarea,total_cars
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.500,12.530,57.011500,7
3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.500,12.530,57.011500,7
4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.500,12.530,57.011500,7
5,5,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.500,12.530,57.011500,7
6,6,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.500,12.530,57.011500,7
2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,7,31.500,12.530,57.011500,7
26,26,0,0,0,0,0,0,0,5,3,0,0,0,0,0,31.960,14.185,56.669075,8
32,32,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
31,31,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
30,30,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
28,28,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
27,27,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
29,29,0,0,0,0,0,0,0,0,8,0,0,0,0,0,31.960,14.160,56.569200,8
7,7,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355,56.029925,7
8,8,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355,56.029925,7
9,9,0,0,0,0,7,0,0,0,0,0,0,0,0,0,31.745,12.355,56.029925,7
33,33,0,0,0,0,0,0,0,0,5,3,0,0,0,0,31.960,13.890,55.490550,8
10,10,0,0,0,0,3,4,0,0,0,0,0,0,0,0,30.925,12.455,55.015625,7
13,13,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
11,11,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
12,12,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
14,14,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
17,17,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
16,16,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
15,15,0,0,0,0,0,7,0,0,0,0,0,0,0,0,30.310,12.530,54.254900,7
34,34,0,0,0,0,0,0,0,0,0,8,0,0,0,0,31.960,13.440,53.692800,8
35,35,0,0,0,0,0,0,0,0,0,5,0,0,3,0,31.420,13.530,53.128950,8
37,37,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
38,38,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
39,39,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
40,40,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
41,41,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
42,42,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
36,36,0,0,0,0,0,0,0,0,0,0,0,0,8,0,30.520,13.680,52.189200,8
43,43,0,0,0,0,0,0,0,0,0,0,1,0,7,0,30.470,13.630,51.915450,8
18,18,0,0,0,0,0,2,0,5,0,0,0,0,0,0,28.635,12.455,50.957025,7
46,46,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
50,50,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
56,56,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
55,55,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
54,54,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
53,53,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
52,52,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
44,44,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
45,45,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
51,51,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
47,47,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
48,48,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
49,49,0,0,0,0,0,0,0,0,0,0,8,0,0,0,30.120,13.280,49.999200,8
25,25,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
24,24,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
19,19,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
20,20,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
21,21,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
22,22,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
23,23,0,0,0,0,0,0,0,7,0,0,0,0,0,0,27.965,12.425,49.637875,7
57,57,0,0,0,0,0,0,0,0,0,0,5,0,0,0,18.825,8.300,31.249500,5

In [1623]:
df2 = truck_df2.copy()

In [1624]:
# # Assuming you have already loaded your dataframes df1 and df2

# # Create a dictionary with vehicle model names as keys and their lengths and widths as values
# vehicle_lengths = {
#     'Ioniq': 4.635,
#     'Tuscon': 4.480,
#     'Elantra': 4.570,
#     'Verna': 4.535,
#     'New Verna': 4.535,
#     'Creta': 4.330,
#     'Kona': 4.180,
#     'i20': 3.995,
#     'Venue': 3.995,
#     'Aura/Xcent': 3.995,
#     'Grand i10': 3.765,
#     'Santro': 3.610,
#     'Exter': 3.815,
#     'Alcazar': 4.500
# }


# # Assuming you have a similar dictionary for vehicle widths
# vehicle_widths = {
#     'Grand i10': 1.660,
#     'i20': 1.775,
#     'Aura/Xcent': 1.680,
#     'Creta': 1.790,
#     'Ioniq': 1.890,
#     'Exter': 1.710,
#     'Verna': 1.765,
#     'Tuscon': 1.850,
#     'Venue': 1.770,
#     'Kona': 1.800,
#     'New Verna': 1.765,
#     'Santro': 1.645,
#     'Elantra': 1.800,
#     'Alcazar': 1.790
# }
#     # Add other vehicle models and their dimensions here

# df2['total_length'] = df2.apply(lambda row: sum(vehicle_lengths[model] for model in df2.columns[3:] if model in vehicle_lengths), axis=1)

# # Calculate total width for each truck in df2
# df2['total_width'] = df2.apply(lambda row: sum(vehicle_widths[model] for model in df2.columns[3:] if model in vehicle_widths), axis=1)

# # Now df2 contains the additional columns total_length and total_width
# df2

In [1625]:
# # Assuming you have already loaded df1 and df2

# # Create a dictionary to map model names to their lengths and widths
# model_info = {
#    'Grand i10': {'Length(m)': 3.765, 'Width(m)': 1.660},
#     'i20': {'Length(m)': 3.995, 'Width(m)': 1.775},
#     'Aura/Xcent': {'Length(m)': 3.995, 'Width(m)': 1.680},
#     'Creta': {'Length(m)': 4.330, 'Width(m)': 1.790},
#     'Ioniq': {'Length(m)': 4.635, 'Width(m)': 1.890},
#     'Exter': {'Length(m)': 3.815, 'Width(m)': 1.710},
#     'Verna': {'Length(m)': 4.535, 'Width(m)': 1.765},
#     'Tuscon': {'Length(m)': 4.480, 'Width(m)': 1.850},
#     'Venue': {'Length(m)': 3.995, 'Width(m)': 1.770},
#     'Kona': {'Length(m)': 4.180, 'Width(m)': 1.800},
#     'New Verna': {'Length(m)': 4.535, 'Width(m)': 1.765},
#     'Santro': {'Length(m)': 3.610, 'Width(m)': 1.645},
#     'Elantra': {'Length(m)': 4.570, 'Width(m)': 1.800},
#     'Alcazar': {'Length(m)': 4.500, 'Width(m)': 1.790}
# }

# # Calculate total length and total width for each row in df2
# df2['total_length'] = df2.apply(lambda row: sum(model_info[model]['Length(m)'] * row[model] for model in model_info), axis=1)
# df2['total_width'] = df2.apply(lambda row: sum(model_info[model]['Width(m)'] * row[model] for model in model_info), axis=1)

# # Print the modified df2
# df2